@charset "utf-8";
/* CSS Document */

body{
    background-color: #013220;
}
.bg-body{
    background-color: rgb(0, 138, 160) !important;
}
h1 , h3{
    color: #ccc;
}
.line{
    height: 0.05rem;
    background-color: #ccc;
}
@media screen and (min-width: 768px){
    .table{
        width: 100% !important;
        /* margin: auto !important; */
    }
}

#buttonUpdate{
    background-color: #227DA3;
}

#buttonUpdate:hover{
    background-color: #134459;
}

#buttonDelete{
    background-color: #227DA3;
}

#buttonDelete:hover{
    background-color: #134459;
}
tr:nth-child(even) {
	background-color: #ddd !important;
}

tr:hover td{
	background-color: #7EC0DD !important;
	color: white !important;
}
